-webkit-text-size-adjust: 100%;
--rem: 16;
--neutral--900: #030407;
--neutral--600: #3e404c;
--violet--base: #443fde;
--violet--background: #f3f3fc;
--violet--darker: #28257e;
--neutral--200: #ebebef;
--neutral--400: #84889a;
--neutral--500: #606476;
--neutral--100: #f9f9fb;
--neutral--300: #d6d7e0;
--neutral--700: #24262d;
--green--background: #f1f8f4;
--green--darker: #246b49;
--red--light: #f19e9d;
--green--base: #3ebb7f;
--violet--lighter: #d3d2f4;
--orange--light: #f9c99f;
--orange--lighter: #fce5d4;
--red--lighter: #f8d4d3;
--red--darker: #872522;
--violet--light: #9d9aea;
--orange--darker: #8c612b;
--neutral--800: #111418;
--neutral--white: white;
--orange--dark: #c98b40;
--violet--dark: #3935b6;
--red--dark: #bc362f;
--orange--base: #f6a94c;
--red--base: #e9423a;
--red--background: #fdf2f2;
--orange--background: #fef7f1;
--green--dark: #339968;
--green--light: #9cd3b4;
--green--lighter: #d2e9dc;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
background-color: #fff;
min-height: 100%;
margin: 0;
color: var(--neutral--900);
font-family: Inter, sans-serif;
font-size: 14px;
line-height: 1.2;